.content-wrap {
  padding: 25px 15px;
}

.content {
   background: #fff; 
   padding: 24px;
   min-height: calc(100vh - 185px);
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
}
